<!-- register.component.html -->
<app-form-container
  title="Register"
  submitText="Create Account"
  (formSubmit)="onSubmit()"
>
  <!-- Username -->
  <app-input
    label="Username"
    type="text"
    placeholder="Enter your username"
    [formControl]="registerForm.controls.username"
    [errorMessage]="registerForm.controls.username.errors | validationMessage"
  ></app-input>

  <!-- Email -->
  <app-input
    label="Email"
    type="email"
    placeholder="Enter your email"
    [formControl]="registerForm.controls.email"
    [errorMessage]="registerForm.controls.email.errors | validationMessage"
  ></app-input>

  <!-- Password -->
  <app-input
    label="Password"
    type="password"
    placeholder="Enter your password"
    [formControl]="registerForm.controls.password"
    [errorMessage]="registerForm.controls.password.errors | validationMessage"
  ></app-input>

    <!-- Role Select -->
    <app-select
    label="Role"
    [options]="roles"
    placeholder="Select your role"
    [formControl]="registerForm.controls.role"
    [errorMessage]="registerForm.controls.role.errors | validationMessage"
  ></app-select>

  <!-- Gender Select -->
  <app-select
    label="Gender"
    [options]="genders"
    placeholder="Select your gender"
    [formControl]="registerForm.controls.gender"
    [errorMessage]="registerForm.controls.gender.errors | validationMessage"
  ></app-select>

  <app-input
    label="Birthdate"
    type="date"
    [formControl]="registerForm.controls.birthdate"
    [errorMessage]="registerForm.controls.birthdate.errors | validationMessage"
  ></app-input>

  <div class="auth-footer">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</app-form-container>