<!-- Toolbar-->
<div class="toolbar" role="banner">
    <img
      width="60"
      alt="Hadath"
      src="assets/hadath.png"
      class="logo-image"
    />

  <div class="spacer"></div>
  <a aria-label="sign in" target="_blank" rel="noopener" [routerLink]="['login']" title="login">
    Login
  </a>
  <a aria-label="sign up" target="_blank" rel="noopener" [routerLink]="['register']" title="register">
    Register
     </a>
   
  </div>
 <body>
  <div class="content" role="main">
 
<!-- Highlight Card -->
<div class="card highlight-card card-small">

  <span>{{ title }} app is running!</span>
 
   </div>

<!-- Resources -->
<h2>Popular events</h2>

<app-popular-events></app-popular-events>

</div>

</body>




