<!-- Toolbar-->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Hadath"
      src="assets/hadath.png"
      class="logo-image"
    />
<span>Welcome</span>
  <div class="spacer"></div>
  <a *ngIf="!isAuthenticated()" aria-label="sign in" target="_blank" rel="noopener" [routerLink]="['login']" title="login">
    Login
  </a>
  <a *ngIf="!isAuthenticated()" aria-label="sign up" target="_blank" rel="noopener" [routerLink]="['register']" title="register">
    Register
     </a>
     <a *ngIf="isAuthenticated()" (click)="logout()" aria-label="log out" title="logout">
      Logout
    </a>
   
  </div>
 <body>
  <div class="content" role="main">
 

<h2>Popular events</h2>

<app-about-us></app-about-us>
<app-popular-events></app-popular-events>

</div>