.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .btn-danger {
    background-color: #ff4b5c;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #ff1c33;
  }
  