<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{ event.title }}</h5>
    <div class="card-text">
      <div>
        <strong>Date:</strong> {{ event.date }}
      </div>
      <div>
        <strong>Location:</strong> {{ event.location }}
      </div>
      <div>
        <strong>Price:</strong> {{ event.price }}
      </div>
      <div>
        <strong>Capacity:</strong> {{ event.capacity }}
      </div>
    </div>
    <p></p>
    <button class="btn btn-outline-primary px-4 py-2 rounded shadow-md custom-button" [routerLink]="['/event-details', event.id]">View Details</button>    <p></p>
    <!-- Disable button if capacity is 0 -->
    <button 
      class="btn btn-primary" 
      (click)="onRegisterClick()" 
      [disabled]="event.capacity === 0">
      Register
    </button>
  </div>
</div>
