<ul>
  <li *ngFor="let popularEvent of popEvents" class="mb-4">
    <div class="card-container card-body">
      <h5 class="card-title">{{ popularEvent.title }}</h5>
      <div class="card-text">
        <div>
          <strong>Date:</strong> {{ popularEvent.date }}
        </div>
        <div>
          <strong>Location:</strong> {{ popularEvent.location }}
        </div>
        <div>
          <strong>Description:</strong> {{ popularEvent.description }}
        </div>
        <div>
          <strong>Price:</strong> {{ popularEvent.price === 0 ? 'Free' : popularEvent.price + ' TND' }}
        </div>
        <div>
          <strong>Capacity:</strong> {{ popularEvent.capacity }}
        </div>
        <div>
          <strong>Organizer:</strong> {{ popularEvent.organizer.username }}
        </div>
      </div>
    </div>
  </li>
</ul>
